[[outputs.influxdb_v2]]

  urls = ["URL:8086/"]
  insecure_skip_verify = true

  organization = "myocx"
  bucket = "labBucket"
  token = "SecretTokenToChangeHereAndTelegrafCnf"

[[inputs.cpu]]
  percpu = true
  totalcpu = true
  collect_cpu_time = false
  report_active = false

[[inputs.mem]]

[[inputs.net]]

[[inputs.disk]]
  ignore_fs = ["tmpfs", "devtmpfs", "devfs"]

[[inputs.netstat]]

[[inputs.nstat]]

[[inputs.temp]]

[[inputs.system]]

[[inputs.processes]]

[[inputs.exec]]
  commands = [
    "bash /path/to/extraInfo.sh"
  ]
  interval = "60s"
  timeout = "60s"

  data_format = "influx"
